/**
 * Styles for the game.
 *
 * Copyright UNC Open Web Team 2010. All Rights Reserved.
 */
html, body {
    font-family: 'Reenie Beanie', arial, serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 0px;
    margin: 0px;
    font-size: 48pt;
}

#layout {
    width: 100%;
    height: 100%;
}

#layout .dijitBorderContainerNoGutterPane {
    overflow: hidden;
    margin: 10px;
}

h1 {
    text-align: center;
    margin-top: 0em;
    font-size: 1.25em;
    color: #333;
}

.tttGameTurnView {
    height: 85px;
    margin: 0px !important;
    color: #333;
}

#layout .tttGameTurnView .dijitBorderContainerNoGutterPane {
}

.tttGameBoardView {
    -webkit-transform: rotate(-3deg); 
    -moz-transform: rotate(-3deg);
    -o-transform:rotate(-3deg);
}

.tttGameBoardView table {
    border-collapse: collapse;
    border-width: 0px;
}

.tttGameBoardView .tttLeftBorder {
    border-left-width: 3px;
}

.tttGameBoardView .tttTopBorder {
    border-top-width: 3px;
}

.tttGameBoardView td {
    border-width: 0px;
    text-align: center;
    border-color: black;
    border-style: solid;
    cursor: pointer;
}

.tttGameBoardView .tttBlank {
    color: #999;
}

.tttGameBoardView .tttBlank.tttRegarded {
    background-color: #cce4fa;
}

.tttGameBoardView .tttFilled {
    cursor: not-allowed;
    -webkit-transition-property: color, background-color;
    -moz-transition-property: color, background-color;
    -o-transition-property: color, background-color;
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    color: #000;
}

.tttGameBoardView .tttFilled.tttRegarded {
    background-color: #ffb4b4;
}

.tttGameBoardView .tttWin {
    -webkit-transition-property: -webkit-transform, background-color;
    -webkit-transition-duration: 0.5s, 0.25s;
    -moz-transition-property: -moz-transform, background-color;
    -moz-transition-duration: 0.5s, 0.25s;
    -o-transition-property: -o-transform, background-color;
    -o-transition-duration: 0.5s;
    background-color: #ccffcc;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
